body{
	background-image: url("assets/doodles.png");
}

.main-content{
	width: 80%;
	background-color: rgba(255,255,255,.7);
}

.list-group-item{
	border: none;
}

.inner-content{
	width: 80%
	border: none;
}

#answer-container{
	border: none;
	border-width: 0px;
	background-color: rgba(255,255,255,.7);
}

#answer-box{
	width: 50%;
	margin: auto;
	background-color: rgba(255,255,255,.7);
}

#title-box{
	width: 80%;
}

#start-button{
	margin: auto;
}

.no-border{
	border:none;
}

