.main-content{
	width: 80%;
	font-color: red;
}

.list-group-item{
	border: none;
}

.inner-content{
	width: 80%
	border: none;
}

#main-header{
	border: none;
}

#answer-container{
	border: none;
	border-width: 0px;
}

#answer-box{
	width: 50%;
	margin: auto;
}

#title-container{
	border: none;
}

#time-container{
	border: none;
}

#start-button{
	margin: auto;
}

